:root{
--red-color:#D61355;
--blue-color:#6DA4AA;
--dark-blue-color:#365486;
 }
::-webkit-scrollbar {
  width: 10px; 
}
.offcanvas.offcanvas-start{
  width: 300px !important;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);  
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;  
}

.side_bar_button{
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height:3rem;
  font-weight: 900;
  font-size: large;
  background: rgb(206, 202, 202);
  margin-left: 1px;
  color: white;
  transition: background-color 0.3s ease;

}
 .navbar_info{
  z-index: 1;
 }
html{
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 40px) !important;
}
 
 
.info_main .child{
padding: 15px;
max-width: 70rem;
display: inline-block;
text-decoration: none;
color: black;
margin-top: 1.5rem;
border-radius: 8px;
box-shadow: lightgray 10px 10px 30px 0px;
}
.nav_link_senction a{
font-size: 16px;
text-decoration: none;
color: white;
}

.info_main{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}
.bx-wrapper{
   
  position: relative;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.bx-viewport{
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  padding: 0px 15px 0px 15px;
}
.bxslider{
  width: 10000%;
  position: relative;
  transition-duration: 0.5s;
  transform: translate3d(0px, 0px, 0px);
  margin: 0;
  padding: 0;
  perspective: 1000px;
  -webkit-perspective: 1000;
  list-style: none;
  display: block;
  transition: .3s;
  white-space: nowrap;
  overflow: hidden;
}
.bxslider .item{
  white-space: normal;
  float: left;
  list-style: none;
  position: relative;
  width: 234.667px;
  margin-right: 8px;
}
.bx-controls-direction{
  display: flex;
  justify-content: space-between;
}
.bx-controls-direction .bx-prev{
left: -22px;
}
.bx-prev img, .bx-next img{
  padding: 10px;
  filter: brightness(0) invert(1);;
}
.bx-controls-direction .bx-next{
right: -22px;
}
 
.bx-controls-direction button:disabled{
  opacity: 0;
}
.bx-controls-direction button{
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%!important;
  background: var(--red-color)!important;
  box-shadow: 0 0 42px 0 #00000029;
  display: block;
}
table{
  border-radius: 8px ;
}
.login_main span{
color: white;
}
 
.dog_card:hover{
  transform: scale(1.05);
}
.animated-element {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.5s, transform 0.5s;
}

.animated-element.visible {
  opacity: 1;
  transform: translateY(0);
} 

.side_bar_button:active{
  background-color: rgb(15, 15, 15);
}
 
.form-signin {
  max-width: 450px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.carousel-item img{
  height: 500px !important;
}
.carousel_main{
  z-index: -1 !important;
  margin-top: 75px;
}
 
.icon_style{
  transform: rotate(0deg); 
  transition: transform 0.2s ease-in-out;
}
 
.icon_style:hover {
  font-size: 24px;
  border: 1px solid lightblue;
  border-radius: 8px;
  background-color: rgb(209, 224, 247);
  color: rgb(20, 60, 236);
  /* transform: rotate(-3deg); */
}
.sidebar_text_style{
  font-size: 18px;
  padding-top: 7px;
  padding-bottom: 5px;
 
  
}
.fa-house{
  color: var(--dark-blue-color);
  transition: scale 0.2s ease-in-out;
}
.fa-house:hover{
  scale: 1.2;
}
.sidebar_text_style:hover {
  /* /* border: 1px solid lightblue; */
  font-weight: 600;
  border-radius: 8px; 
  background-color: rgb(209, 224, 247);
  color: var(--dark-blue-color);
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
@media screen and (max-width: 480px){
.sticky_card_Nav{
  position: sticky !important;
  top: 5% !important;
}
}