:root{
--red-color:#D61355;
 }
.side_bar_button{
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height:5rem;
  font-weight: 900;
  font-size: large;
  background: var(--red-color);
  margin-left: 1px;
  color: white;

}
 .navbar_info{
  z-index: 1;
 }
html{
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 40px);
}
.info_main div{
padding: 15px;
max-width: 70rem;
display: inline-block;
text-decoration: none;
color: black;
margin-top: 3.5rem;
}
.nav_link_senction a{
font-size: 15px;
}
.info_main{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.bx-wrapper{
   
  position: relative;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    background-color: rgb(158, 158, 158);
}
.bx-viewport{
  width: 100%;
  overflow: hidden;
  border-radius: 10px
}
.bxslider{
  width: 10000%;
  position: relative;
  transition-duration: 0.5s;
  transform: translate3d(0px, 0px, 0px);
  margin: 0;
  padding: 0;
  -webkit-perspective: 1000;
  list-style: none;
  display: block;
  transition: .3s;
  white-space: nowrap;
  overflow: hidden;
}
.bxslider .item{
  white-space: normal;
  float: left;
  list-style: none;
  position: relative;
  width: 234.667px;
  margin-right: 8px;
}
.bx-controls-direction{
  display: flex;
  justify-content: space-between;
}
.bx-controls-direction .bx-prev{
left: -22px;
}
.bx-controls-direction .bx-next{
right: -22px;
}
 
.bx-controls-direction button:disabled{
  opacity: 0;
}
.bx-controls-direction button{
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%!important;
  background: var(--red-color)!important;
  box-shadow: 0 0 42px 0 #00000029;
  display: block;
}
table{
  border-radius: 8px ;
}
.login_main span{
color: white;
}
.side_bar_button:active{
  background-color: rgb(90, 79, 247);
  border: 2px solid rgb(90, 79, 247) !important;
}
.form-signin {
  max-width: 450px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.carousel-item img{
  height: 500px !important;
}
.carousel_main{
  z-index: -1 !important;
}
.sidebar_main{
  z-index: 10000 !important;

}
.icon_style{
  transform: rotate(0deg); 
  transition: transform 0.2s ease-in-out;
}
.icon_style:hover {
  font-size: 24px;
  border: 1px solid lightblue;
  border-radius: 8px;
  background-color: rgb(209, 224, 247);
  color: rgb(20, 60, 236);
  transform: rotate(-3deg);
}
.sidebar_text_style{
  font-size: 18px;
  padding-top: 7px;
  padding-bottom: 5px;
 
  
}
.sidebar_text_style:hover {
  /* /* border: 1px solid lightblue; */
  font-weight: 600;
  border-radius: 8px; 
  background-color: rgb(209, 224, 247);
  color: rgb(20, 60, 236);
}